<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <properties resource="properties/mybatis-generatorConfig.properties"/>

    <context id="my" targetRuntime="MyBatis3" defaultModelType="flat">

        <!-- 文件的编码格式 -->
        <property name="javaFileEncoding" value="${javaFileEncoding}"/>

        <!-- mapper类需要继承的父类 -->
        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="${mapper.mappers}"/>
        </plugin>

        <!-- 是否重写toString方法 -->
        <!--<plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>-->

        <!-- 注释生成器设置 -->
        <commentGenerator>
            <property name="suppressDate" value="${commentGenerator.suppressDate}"/>
            <property name="suppressAllComments" value="${commentGenerator.suppressAllComments}"/>
        </commentGenerator>

        <!-- 数据库连接设置 -->
        <jdbcConnection driverClass="${database.driverClass}"
                        connectionURL="${database.url}"
                        userId="${database.userId}"
                        password="${database.password}"/>

        <!-- 类型转换 -->
        <javaTypeResolver>
            <!-- 是否使用bigDecimal，false可自动转化以下类型（Long, Integer, Short, etc.） -->
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- entity文件 -->
        <javaModelGenerator targetPackage="${javaModelGenerator.targetPackage}"
                            targetProject="${javaModelGenerator.targetProject}">
            <property name="constructorBased" value="${javaModelGenerator.constructorBased}"/>
            <property name="enableSubPackages" value="${javaModelGenerator.enableSubPackages}"/>
            <property name="immutable" value="${javaModelGenerator.immutable}"/>
            <property name="rootClass" value="${javaModelGenerator.rootClass}"/>
            <property name="trimStrings" value="${javaModelGenerator.trimStrings}"/>
        </javaModelGenerator>

        <!-- mapper.xml文件 -->
        <sqlMapGenerator targetPackage="${sqlMapGenerator.targetPackage}"
                         targetProject="${sqlMapGenerator.targetProject}">
            <property name="enableSubPackages" value="${sqlMapGenerator.enableSubPackages}"/>
        </sqlMapGenerator>

        <!-- mapper文件 -->
        <javaClientGenerator targetPackage="${javaClientGenerator.targetPackage}"
                             targetProject="${javaClientGenerator.targetProject}"
                             type="${javaClientGenerator.type}">
            <property name="enableSubPackages" value="${javaClientGenerator.enableSubPackages}"/>
            <property name="exampleMethodVisibility" value="${javaClientGenerator.exampleMethodVisibility}"/>
            <property name="methodNameCalculator" value="${javaClientGenerator.methodNameCalculator}"/>
            <property name="rootInterface" value="${javaClientGenerator.rootInterface}"/>
            <property name="useLegacyBuilder" value="${javaClientGenerator.useLegacyBuilder}"/>
        </javaClientGenerator>

        <!-- 数据来源表 -->
        <table tableName="${table.tableName}"
               enableInsert="${table.enableInsert}"
               enableSelectByPrimaryKey="${table.enableSelectByPrimaryKey}"
               enableUpdateByPrimaryKey="${table.enableUpdateByPrimaryKey}"
               enableDeleteByPrimaryKey="${table.enableDeleteByPrimaryKey}"
               enableSelectByExample="${table.enableSelectByExample}"
               enableDeleteByExample="${table.enableDeleteByExample}"
               enableUpdateByExample="${table.enableUpdateByExample}"
               enableCountByExample="${table.enableCountByExample}">
            <property name="runtimeSchema" value="${table.runtimeSchema}"/>
            <property name="constructorBased" value="${table.property.constructorBased}"/>
            <property name="immutable" value="${table.property.immutable}"/>
            <property name="modelOnly" value="${table.property.modelOnly}"/>
            <property name="rootClass" value="${table.property.rootClass}"/>
            <!--<property name="rootInterface" value="${table.property.rootInterface}"/>-->
            <property name="useColumnIndexes" value="${table.property.useColumnIndexes}"/>
            <property name="useCompoundPropertyNames" value="${table.property.useCompoundPropertyNames}"/>
            <!--<ignoreColumn column="id"/>
            <ignoreColumn column="create_time"/>
            <ignoreColumn column="update_time"/>
            <ignoreColumn column="is_deleted"/>-->
            <!--<generatedKey column="id" sqlStatement="MySql" identity="true" />-->
        </table>
    </context>
</generatorConfiguration>